{% extends 'base.html' %}

{% block searchbox %}
<!-- FOR TESTING PURPOSES -- HOME-ANON.HTML -->
  {# don't show this on anon homepage #}
{% endblock %}

{% block content %}
<div>
  <h4>Thanks for checking out my demo!</h4>
  <h5>Proceed to the <a href="/login">Login</a> Page for instructions on navigating the site.</h5>
</div>
  <div class="home-hero">
    <h1>~ WARBLER ~</h1>
    <h4>New to the Flock?</h4>
    <p>Sign up now to get your wings!</p>
    <a href="/signup" class="btn btn-primary">Sign up</a>
  </div>
{% endblock %}